@import url(/css/variables.css);

/** Reset etc. **/
* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   list-style: none;
}

img {
   display: block;
   width: 100%;
}

a {
   text-decoration: none;
   color: var(--clr-text);
}

/** General styling **/
body {
   color: var(--clr-text);
}

p {
   font-family: var(--ff-paragraph);
}

html {
   scroll-behavior: smooth;
}

/** Utility Classes **/
.container {
   width: 100%;
   margin-left: auto;
   margin-right: auto;
   padding-left: 2em;
   padding-right: 2em;
}

.flex {
   display: flex;
}

.column {
   flex-direction: column;
}

.align-items__center {
   align-items: center;
}

.justify-content__center {
   justify-content: center;
}

.vertical-line {
   border: 1px solid var(--clr-secondary);
   margin-top: 5px;
}

.section-header {
   width: 100%;
   max-width: 400px;
   text-align: center;
   align-items: center;
   margin: 0 auto;
}

.section-header .vertical-line {
   width: 100%;
   max-width: 300px;
}

.project-card .vertical-line {
   border: 1px solid var(--clr-text);
   margin-top: 10px;
}

.section-heading {
   font-family: var(--ff-heading);
   font-weight: var(--fw-ebold);
   font-size: 2.25em;
   text-align: center;
   text-shadow: 4px 4px 2px rgba(255,255,255,0.1);
}

.section-header p {
   margin-top: 1em;
   font-size: 0.875em;
   font-weight: var(--fw-medium);
}

.cta {
   font-family: var(--ff-cta);
   font-weight: var(--fw-sbold);
   color: var(--clr-primary);
   border: none;
   border-radius: 0.25em;
   font-size: 0.875em;
   cursor: pointer;
   transition: 300ms ease;
}

.cta-secondary {
   background: var(--clr-secondary);
}

.cta-secondary:hover {
   background: var(--secondary-hover);
   box-shadow: 0px 0px 10px 0px rgb(255, 250, 202);
}

/** Header and Navigation **/
header {
   background-color: var(--clr-primary);
   border-bottom: 2px solid var(--clr-secondary);
}

.header-container {
   height: 70px;
   justify-content: space-between;
}

.header-logo {
   font-family: var(--ff-heading);
   font-weight: var(--fw-bold);
   font-size: 1.5em;
}

header i {
   font-size: 1.5em;
}

nav ul {
   position: absolute;
   z-index: 99999;
   left: 0;
   top: 72px;
   visibility: hidden;
   opacity: 0;
   background-color: var(--clr-menu);
   width: 100%;
   text-align: center;
   transition: 300ms ease;
}

nav ul.show-nav {
   visibility: visible;
   opacity: 1;
}

nav ul li {
   padding: 1.5em 0;
   border-bottom: 1px solid #686868;
}

nav ul li a {
   font-family: var(--ff-nav-items);
   font-weight: var(--fw-medium);
}

.header-logo,
nav ul li a,
header i {
   cursor: pointer;
   transition: 300ms ease;
}

.header-logo:hover,
nav ul li a:hover,
header i:hover {
   color: var(--secondary-hover);
}

/** Hero Section **/
.hero-wrapper {
   background: rgb(36,36,36);
   background: linear-gradient(180deg, rgba(36,36,36,1) 30%, rgba(4,2,7,1) 60%);
}

.hero-section {
   padding-block: 4em;
   gap: 5em;
}

.hero-section h1 {
   font-family: var(--ff-heading);
   font-weight: var(--fw-bold);
   font-size: 2.125em;
   text-shadow: 4px 4px 2px rgba(255,255,255,0.1);
}

.hero-heading {
   gap: 2em;
}

.hero-section img {
   width: 80%;
   max-width: 400px;
   position: relative;
   z-index: 1;
   border-radius: 0.35em;
   margin: 0 auto;
   box-shadow: 10px -8px 9px 0px rgba(0,0,0,0.58);
}

.hero-image {
   position: relative;
   margin: 0 auto;
}

.image-background {
   position: absolute;
   background: var(--clr-secondary);
   width: 200px;
   height: 275px;
   border-radius: 0.35em;
   z-index: 0;
   right: 10px;
   top: -30px;
   box-shadow: 5px -5px 50px 0px rgb(255, 250, 202);
}

/** Projects section **/

/** Projects section - HEADING **/
.projects-wrapper {
   background: var(--clr-primary);
}

.projects-section {
   gap: 4em;
   padding-block: 4em;
}

/** Projects section - CARDS **/
.projects-section__cards {
   display: grid;
   gap: 3em;
}

.project-card {
   background: #000;
   border-radius: 0.3em;
   overflow: hidden;
   transition: 300ms ease;
   box-shadow: 0px 0px 16px 0px rgba(84,84,84,1);
}

.project-card img {
   border-bottom: 2px solid var(--clr-secondary);
}

.project-card__content {
   padding: 1em;
}

.project-card__heading {
   justify-content: space-between;
}

.project-card__heading h2 {
   font-family: var(--ff-heading);
   font-weight: var(--fw-ebold);
   text-transform: uppercase;
}

.project-card p {
   font-size: 0.7em;
   margin-top: 12px;
}

.project-card__icons {
   gap: 0.75em;
}

.project-card__icons i {
   font-size: 1.75em;
   cursor: pointer;
   transition: 300ms ease;
   animation: 2.5s infinite icons;
}

.project-card__icons i:hover {
   animation: none;
   transform: scale(1.15);
   color: var(--clr-secondary);
}

@keyframes icons {
   0% {
      transform: scale(0.90);
   }

   70% {
      transform: scale(1.1);
   }

   100% {
      transform: scale(0.90);
   }
}

.project-card:hover {
   transform: scale(1.025);
}

/** About Section **/
.about-wrapper {
   background-color: var(--clr-primary);
   background-image: url(/images/about-background.png);
}

.about-section {
   padding-block: 4em;
   gap: 2em;
}

.about-info p {
   margin-bottom: 8px;
   font-size: 14px;
   line-height: 1.7;
}

.about-info.desktop {
   display: none;
}

.skills {
   margin-top: 3em;
   gap: 1.25em;
}

.skills h3 {
   font-family: var(--ff-heading);
   font-weight: var(--fw-ebold);
   font-size: 2em;
}

.skills h4 {
   font-family: var(--ff-nav-items);
   font-weight: var(--fw-medium);
   font-size: 1.225em;
}

.skills ul {
   gap: 0.75em;
}

.skills li {
   gap: 0.75em;
}

.skills i {
   font-size: 2em;
}

/** Contact Section **/
.contact-wrapper {
   background: var(--clr-primary);
}

.contact-section {
   padding-block: 4em;
   gap: 3em;
}

.contact-section__content {
   gap: 1.5em;
}

.contact-content__icons {
   margin: 0 auto;
   gap: 1.5em;
}

.contact-icons {
   gap: 1em;
   transition: 300ms ease;
   cursor: pointer;
}

.contact-icons i {
   font-size: 2.5em;
}

.contact-icons h3 {
   font-family: var(--ff-heading);
   font-weight: var(--fw-sbold);
   font-size: 1.35em;
}

.contact-icons:hover {
   color: var(--clr-secondary);
}

/** Contact form styling **/
.contact-form {
   gap: 1.5em;
   margin: 0 auto;
   width: 85%;
}

.contact-form label {
   font-family: var(--ff-label);
   font-size: 14px;
   font-weight: var(--fw-regular);
}

.contact-form input {
   height: 35px;
}

.contact-form textarea {
   height: 80px;
}

.contact-form input,
.contact-form textarea {
   padding: 4px;
   font-family: var(--ff-input);
   width: 100%;
   border-radius: 0.25em;
   border: none;
   background: var(--clr-inputs);
}

.cta-contact {
   width: 50%;
   height: 35px;
   margin-top: 10px;
}

.contact-form input:focus,
.contact-form textarea:focus {
   outline: none;
   border: 2px solid var(--clr-secondary);
}

/** Footer **/
footer {
   width: 100%;
   background: var(--clr-primary);
   border-top: 2px solid var(--clr-secondary);
}

.footer-container {
   padding-block: 2em;
   gap: 2em;
}

footer nav ul {
   position: static;
   visibility: visible;
   opacity: 1;
   display: flex;
   background: none;
   gap: 2em;
}

footer nav ul li {
   border-bottom: none;
   padding: 0;
}

footer .copyright {
   font-family: var(--ff-heading);
   font-size: 1em;
}

/** Responsive Design **/
@media (min-width: 768px) {
   /** Utility Classes **/
   .section-heading {
      font-size: 2.75em;
   }

   /** Header and Navigation **/
   .header-container {
      height: 100px;
   }

   #menu-icon {
      display: none;
   }

   nav ul {
      position: static;
      visibility: visible;
      opacity: 1;
      display: flex;
      gap: 2em;
      background-color: var(--clr-primary);
   }

   nav ul li {
      border-bottom: none;
   }

   .nav-contact {
      background-color: var(--clr-secondary);
      color: var(--clr-primary);
      font-weight: var(--fw-sbold);
      padding: 0.35em 1.15em;
      border-radius: 0.25em;
   }

   .nav-contact:hover {
      background-color: var(--secondary-hover);
      box-shadow: 0px 0px 10px 0px rgb(255, 250, 202);
      color: #3D3D3D;
   }

   nav ul li a {
      font-size: 1.125em;
   }

   .header-logo {
      font-size: 1.925em;
   }

   /** Hero Section **/
   .hero-section {
      flex-direction: row;
      padding-block: 6em;
      align-items: center;
   }

   .hero-heading,
   .hero-image {
      flex: 1;
   }

   /** Contact Section **/
   .contact-form {
      width: 70%;
   }

   /** Footer **/
   .footer-container {
      flex-direction: row;
      justify-content: space-between;
   }

   .footer-container nav {
      order: 2;
   }

   .footer-container .copyright {
      font-size: 1.25em;
   }
}

/** Container Responsiveness and other breakpoints **/
@media (min-width: 475px) {
   .container {
      max-width: 475px;
   }
}

@media (min-width: 640px) {
   .container {
      max-width: 640px;
   }
}

@media (min-width: 768px) {
   .container {
      max-width: 768px;
   }
}

@media (min-width: 1024px) {
   .container {
      max-width: 1024px;
   }

   .hero-heading h1 {
      font-size: 3em;
   }

   /** Project Section **/
   .projects-section__cards {
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: auto;
   }

   .projects-section {
      padding-block: 6em;
   }

   /** About Section **/
   .about-section {
      padding-block: 6em;
   }

   .about-info.mobile {
      display: none;
   }

   .about-info.desktop {
      display: flex;
      flex-direction: column;
      gap: 1.125em;
      font-size: 18px;
   }

   .about-section__content {
      display: grid;
      grid-template-columns: 20% auto 1fr;
      grid-template-rows: 1fr;
      grid-gap: 3em;
   }

   .skills {
      margin-top: 0;
      grid-column: 1 / 2;
      grid-row: 1 / 2;
      align-self: center;
   }

   .about-section__content .vertical-line {
      grid-column: 2 / 3;
      grid-row: 1 / 2;
   }

   .about-info.desktop {
      grid-column: 3 / 4;
   }

   .skills h3 {
      font-size: 2.25em;
   }

   .skills h4 {
      font-size: 1.5em;
   }

   .skills i {
      font-size: 2.25em;
   }

   /** Contact Section **/
   .contact-section {
      padding-block: 8em;
   }

   .contact-section__content {
      display: grid;
      grid-template-columns: 1fr auto 1fr;
      grid-template-rows: auto;
      gap: 3em;
   }

   .contact-content__icons {
      align-self: center;
   }

   .contact-content__icons i {
      font-size: 3em;
   }

   .contact-content__icons h3 {
      font-size: 1.75em;
   }
}

@media (min-width: 1280px) {
   .container {
      max-width: 1280px;
   }

   .image-background {
      width: 300px;
      height: 350px;
      right: 60px;
      top: -30px;
   }

   /** Project section **/
   .project-card__icons i {
      font-size: 2.125em;
   }

   /** About Section **/
   .about-info.desktop p {
      font-size: 16px;
   }
}

@media (min-width: 1536px) {
   .container {
      max-width: 1536px;
   }

   .image-background {
      right: 120px;
   }
}